<div class="container">


  <form method="post" action="/search">
    <label for="artist" >Artist</label>
    <input type="text" name="artist" placeholder="artist">
    <label for "song" >Song</label>
    <input type="text" name="song" placeholder="song">
    <input type = "submit" value = "Analyze my song!">
  </form>
</div>
